
@import '../constants.scss';

.calconic-page-title {
  color: #fff;
  margin: 0 0 20px 0;
  font-size: 34px;
  padding: 0 19px 40px;
  text-transform: uppercase;
  letter-spacing: 7px;
  @include gradientToRight($brand-color-1, $brand-color-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    text-transform: uppercase;
  }

  .section-controls {
    display: flex;
  }
}

.section-content {
  position: relative;
  width: 100%;
}
