
@import '../constants';

.calconic-card {
  width: 100%;
  background-color: $bg-light-color;
  border-radius: 2px;
  margin: 0 0 20px;
  padding: 20px;
  position: relative;
  @include box-shadow(1);
}

.calconic-flat-card {
  width: 100%;
  border-radius: 2px;
  margin: 0 0 20px;
  padding: 5px;
  position: relative;

  .card-title {
    min-height: 52px;
    padding: 5px 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $sep-color-2;

    span.title-content {
      display: flex;
      letter-spacing: 2px;
      align-items: center;

      i {
        margin-right: 5px;
        color: $brand-color-1;
      }
    }
  }

  .card-content {
    padding: 10px;

    p {
      font-size: 14px;
      line-height: 1.8;
    }
  }
}
